/* CSS file for: 'notifications.html'
    version 1.0
    09.01.2019
    Description: Creation of File
- Front End Team
*/

/* Landscape Media Query */
@media screen and (min-aspect-ratio: 13/9) {

    .flexTitle{
        display: flex;
        position: relative;
        margin-bottom: 15px;
        margin-left: 7vmin;
    }

    .page
    {
        background-color: rgb(210, 189, 197); /* Slight Maroon */
        margin-top: calc(6vh + 6vw);
        border-bottom: solid #7B2240;
        border-bottom-width: 1px;
        text-align: center;
        padding: 9px;
        padding-left: 25px;
        padding-right: 25px;
        width: auto;
        height: auto;
        font-family: inherit;
        font-size: 0;
        font-weight: bold;
        color: #7B2240;
        display: inline-block;
    }

    .pageTitle{
         margin: 0;
         font-size: 11.5px;
         letter-spacing: 1.5px;
    }

    .notifications-section{
        margin: 0;
        width: 450px;
        height: auto;
        border-radius: 5px;
        position: relative;
        margin-left: 7vmin;
        box-shadow: 1px 1px 1px gray;
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-bottom: 15px;
        font-size: 13px;
    }

    .whoCommented{
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }

    .usernameOfAuthor{
        color: #7b2240;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    .nameOfPostOrComment{
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        letter-spacing: 0.5px;
        color: black;
        font-weight: bold;
    }
  
    .theNoteDate{
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        color: black;
    }

    .theNoteContent{
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;
        color: rgb(80, 80, 80);
    }
    
    .noteSecondPart {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .noteFourthPart {
        text-align: center;
    }
    
} /* Close Media Query */

/* Portrait Media Query */
@media screen and (max-aspect-ratio: 13/9) {

    .flexTitle{
        display: flex;
        position: relative;
        margin-bottom: 3vw;
    }

    .page
    {
        background-color: rgb(210, 189, 197);
        margin: auto;
        margin-top: 4vh;
        border-bottom: solid #7B2240;
        border-bottom-width: 0.5vw;
        text-align: center;
        padding: 3vw;
        padding-left: 12vw;
        padding-right: 12vw;
        font-family: inherit;
        font-size: 0;
        font-weight: bold;
        color: #7B2240;
        display: inline-block;
    }

    .pageTitle{
         margin: 0;
         font-size: 3vw;
         letter-spacing: 0.75vw;
    }

    .notifications-section{
        margin: 0;
        margin: auto;
        width: 87%;
        border-radius: 1vw;
        position: relative;
        box-shadow: 0.3vw 0.3vw 0.3vw grey;
        display: flex;
        flex-direction: column;
        padding: 3vw;
        margin-bottom: 3vw;
        font-size: 3vw;
    }

    .whoCommented{
        margin: 0;
        padding: 0;
        padding-bottom: 2.5vw;
    }

    .usernameOfAuthor{
        color: #7b2240;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }

    .nameOfPostOrComment{
        margin: 0;
        padding: 0;
        padding-bottom: 2.5vw;
        letter-spacing: 0.3vw;
        color: black;
        font-weight: bold;
    }
  
    .theNoteDate{
        margin: 0;
        padding: 0;
        padding-bottom: 2.5vw;
        color: black;
    }

    .theNoteContent{
        margin: 0;
        padding: 0;
        letter-spacing: 0.3vw;
        color: rgb(80, 80, 80);
    }
    
    .noteSecondPart {
        margin-bottom: 2.5vw;
        text-align: center;
    }
    
    .noteFourthPart {
        text-align: center;
    }
    
} /* Close Media Query */
