/* CSS Styles for the template: 'register.html'
Version 1.0

    08.09.2019

    Description: Creation of file

- Front End Team
*/

.signup-wrap{
  margin: 2em auto 2em;
  width: 70%;
}

.panel-frame{
  width: auto;
  height: auto;
  margin-top: 100px;
  padding: 0;
  border: 0;
  text-align: center;
}

.header-wrapper{
  margin-top: 12px;
  margin-bottom: 12px;
}

.panel-content{
  text-align: left;
}

h1{
  margin-bottom: -10px;
  font-size: 25px;
  font-weight: normal;
}

.required{
  color: red;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 15px;
}

.first_name, .last_name, .usernameForm, .email, .password, .confirm_password, .addimage{
  width: 200px;
  padding: 12px 11px 11px 11px;
  margin-top: 7.5px;
  margin-bottom: 12px;
  margin-right: 10px;
  border: 0.5px solid #8c918d;
  border-radius: 3px;
  font-size: 11px;
}

.registFormButton{
  margin-left: 0.5em;
  margin-top: 20px;
  padding: 7px;
  border: 1px solid #8c918d;
  border-radius: 3px;
  text-align: center;
  display: block;
  border: 0;
  background-color: #757575;
  color: white;
  font-size: 8px;
  width: 80px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

::placeholder{
  color: black;
}

.space{
  margin-left: 1em;
}

.bottom{
  text-align: center;
}

.errUsernameInUse{
  color: red;
}

.imageLabel{
  background-color: #757575;
   color: white;
   cursor: pointer;
   font-size: 8px;
   font-weight: normal;
   border: 0;
   border-radius: 3px;
   letter-spacing: 0.55px;
   padding-top: 7px;
   padding-bottom: 7px;
   padding-left: 17px;
   padding-right: 17px;
   text-align: center;
   margin-left: 0.5em;
}
