/* CSS Styles for the template: 'postSubmitted.html'
Version 1.0
    08.06.2019
    Description: Creation of file

- Front End Team
*/

/* Landscape Media Query */
@media screen and (min-aspect-ratio: 13/9) {

    .page
    {
        width: 70%;
        margin-top: 23vmin;
        margin-left: 15vmin;
    }

    .welcome
    {
         font-size: 24px;
         text-align: left;
         margin-bottom: 15px;
         margin-top: 5px;
    }

    .viewPost, .homepage
    {
        text-align: center;
        display: block;
        margin-bottom: 15px;
        border-radius: 3px;
        border: 0;
        background-color: #757575;
        color: white;
        font-size: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 0.5px;
        cursor: pointer;
        overflow: hidden;
        transition: all 1s;
    }

    form
    {
         padding: 0;
         margin: 0;
    }
    
} /* Close Media Query */

/* Portrait Media Query */
@media screen and (min-aspect-ratio: 13/9) {

    .page
    {
        margin-top: 3vw;
    }

    .welcome
    {
        font-size: 6vw;
        text-align: center;
        margin: auto;
        margin-bottom: 3vw;
        width: 80%;
    }

    .viewPost, .homepage
    {
        text-align: center;
        margin-bottom: 3vw;
        border-radius: 0.5vw;
        border: 0;
        background-color: #757575;
        color: white;
        font-size: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 3vw;
        padding-right: 3vw;
        letter-spacing: 0.25vw;
        cursor: pointer;
        overflow: hidden;
        transition: all 1s;
    }
    
    .specform {
        margin: auto;
        width: 80%;
        text-align: center;
    }

    form
    {
         padding: 0;
         margin: 0;
    }
    
} /* Close Media Query */
