/* CSS Styles for the template: 'userInfo.html'
Version 1.0

    08.12.2019

    Description: Creation of file

- Front End Team
*/

.middleScreen{
    display: flex;
    width: 63%;
    flex-direction: column;
    margin-top: calc(6vh + 6vw);
    margin-left: 14vmin;
}

.page
{
    background-color: #d2bdc5; /* Slightly Dark Pink */
    border-bottom: solid #7B2240;
    border-bottom-width: 1px;
    text-align: center;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 110px;
    width: auto;
    font-family: inherit;
    font-size: 9px;
    font-weight: bold;
    color: #7B2240;
    letter-spacing: 1px;
}

.pageTitle{
    padding: 0;
    margin: 0;
}

.divText, .divText1
{
     margin: 0;
     margin-top: 10px;
     margin-bottom: 15px;
     padding: 25px;
     padding-bottom: 0;
     width: auto;
     height: auto;
     background-color: #E3E3E3;
     border-radius: 5px;
     box-shadow: 1px 1px 1px lightgray, -1px -1px 1px lightgray;
     display: flex;
     flex-direction: column;
}

.divText1{
    height: 400px;
    overflow-y: auto;
}

.maroonButtons{
     margin: 0;
     margin-top: -25px;
     margin-left: -25px;
     margin-right: -25px;
     padding: 3px;
     padding-left: 15px;
     padding-right: 15px;
     display: flex;
     justify-content: space-between;
     background-color: #7B2240;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     width: auto;
     margin-bottom: 25px;
     overflow-y: auto;
}

.userProfileTitle, .emailAndPasswordDiv, .notificationsDiv, .subscriptionsDiv, .commentsDiv, .savedDiv, .postsDiv{
     margin: 0;
     padding: 0;
     background-color: #863550;
     width: 210px;
     height: 25px;
     border-bottom: 1px solid #d2c4c9;
     text-align: center;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     margin-bottom: -3px;
}

.userProfileTitleText, .emailAndPasswordText, .notificationsText, .subscriptionsText, .commentsText, .savedText, .postsText{
     border: 0;
     background-color: #863550;
     margin: 0;
     padding: 0;
     font-size: 11px;
     padding-top: 4px;
     color:  #d2c4c9;
     display: inline-block;
     vertical-align: middle;
     line-height: normal;
     letter-spacing: 0.5px;
}

.emailAndPasswordText, .notificationsText, .subscriptionsText, .commentsText, .savedText, .postsText{
     cursor: pointer;
}

.subscriptionsDiv, .commentsDiv, .savedDiv, .postsDiv{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.editProfile{
     margin: 0;
     padding: 0;
     order: 2;
     margin-left: auto;
     margin-right: 0;
}

.editProfileBtn, .descriptionFormSubmitBtn, .changeEmailBtn, .changePasswordBtn{
    text-align: center;
    background-color: #757575;
    border-radius: 3px;
    border: 0;
    color: white;
    font-size: 8.5px;
    width: auto;
    height: auto;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
}

.descriptionFormSubmitBtn{
    margin-top: 15px;
}

.changeEmailBtn, .changePasswordBtn{
    margin-bottom: 30px;
}

.profileContent{
    margin: 0;
    display: flex;
}

.roundImage{
    margin: 0;
    padding: 0;
    font-size: 0;
    border: 0;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.usernameAndEmailFlex{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.viewedUserUsername{
    color: #b78296;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 7px;
    overflow-y: auto;
}

.viewedUserEmail{
    margin: 0;
    color: black;
    font-size: 9px;
    margin-left: 5px;
    overflow-y: auto;
}

.viewedUserDescription{
    margin: 0;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 55px;
}

.descriptionText{
    letter-spacing: 0.5px;
    color: black;
    font-size: 13px;
}

.descriptionForm{
     display: none;
}

.descriptionTextArea, .avatarURL{
   margin: 0;
   margin-top: 10px;
   margin-bottom: 10px;
   border: 0.5px solid LightGray;
   padding-left: 10px;
   padding-top: 5px;
   padding-right: 10px;
   padding-bottom: 5px;
   width: 100%;
   border-radius: 3px;
   font-family: 'Roboto', Sans-Serif;
   font-size: 13px;
}

.descriptionTextArea::placeholder{
    color: black; important!
}

.descriptionFormSubmitDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.settingsContent{
    display: flex;
    flex-direction: column;
}

.privateEmail, .privateEmailFlex{
    display: flex;
    flex-direction: row;
}

.privateEmailLabel{
    display: flex;
    flex-direction: column;
}

.requiredFieldsMessage{
    /*order: 2;*/
    margin-left: auto;
    margin-right: 0;
}

.requiredFieldsMessageText{
    margin: 0;
    margin-top: 10px;
    font-size: 9px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: red;
}

.emailChangeTitle, .passwordChangeTitle{
    margin: 0;
    border: 0;
    border-bottom: 0.5px solid black;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.privateEmailLabelTextUpperLabel, .privateEmailLabelTextLowerLabel{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.privateEmailLabelTextUpperLabel{
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: -3px;
    letter-spacing: 0.5px;
}

.privateEmailLabelTextLowerLabel{
    font-size: 9px;
    letter-spacing: 0.5px;
}

.privateEmailCheckbox{
    position: relative;
}

/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input[type="checkbox"]{
     opacity: 0;
     cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 2px solid #7B2240;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  color: #7B2240;
  border: solid #7B2240;;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.changeEmailInnerDiV, .changePasswordInnerDiv{
    display: flex;
    flex-direction: column;
}

.emailsDiv, .passwordsDiv{
    display: flex;
    justify-content: space-between;
}

.buttonDiv{
    order: 2;
    margin-left: auto;
    margin-right: 0;
}

.emailSetting, .passwordSetting, .currentPassword{
    width: calc(15.5vmax - 4vmin);
    padding: 12px 11px 11px 11px;
    margin-top: 7.5px;
    margin-bottom: 12px;
    margin-right: 10px;
    border: 0.5px solid #8c918d;
    border-radius: 3px;
    font-size: 11px;
}

::placeholder{
  color: black; important!
}

.red{
    color: red;
    font-size: 9px;
    font-weight: bold;
}

.notify{
    margin-bottom: 20px;
}

.errIncorrectPassword{
    color: red;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.portMembersNumber{
    margin: 0;
}

.port-section, .comment-section, .post-section{
    margin: 0;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px gray;
    margin-bottom: 10px;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    min-height: 30px;
}

.comment-section, .post-section{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.portName{
    margin: 0;
    padding: 0;
    margin-top: 2px;
    padding-bottom: 10px;
    font-size: 16px;
    color: rgb(80, 80, 80);
    overflow-y: auto;
}

.portMembersNumber{
    margin: 0;
    padding: 0;
    margin-top: 7px;
    font-size: 8.5px;
    color: rgb(80, 80, 80);
    overflow-y: auto;
}

.indexForm{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.subscribeIndex{
    text-align: center;
    border-radius: 3px;
    border: 0;
    color: white;
    font-size: 8.5px;
    width: 70px;
    height: auto;
    padding: 6px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.portFirstPart{
    width: 150px;
}

.portThirdPart{
    margin-left: auto;
    margin-right: 0;
}

.commentSecondPart, .postSecondPart{
    display:flex; 
    flex-direction:column;
    overflow-y: auto;
}

.votes{
   margin: 0;
   font-size: 12px;
   color: rgb(77, 208, 191);
   margin-top: 5px;
   margin-right: 5px;
}

.thePortName{
   color: rgb(80, 80, 80);
   font-size: 7px;
   margin-right: 10px;
   margin-top: 8px;
}

.thePostName{
    margin: 0;
    color: black;
    font-size: 11px;
}

.commentText, .postText{
    margin: 0;
    color: black;
    font-size: 8px;
    margin-left: 10px;
    overflow-y: auto;
    padding-top: 5px;
}


.dateAndTime{
    margin: 0;
    color: rgb(80, 80, 80);
    font-size: 8px;
}

.commentFirstPart, .postFirstPart{
    text-align: center;
    width: 30px;
    margin-left: -8px;
    overflow-y: auto;
}

.commentThirdPart, .postThirdPart{
    margin-left: auto;
    margin-right: 0;
    order: 2;
    overflow-y: auto;
}

.postThirdPart{
    display:flex; 
    flex-direction:column;
    overflow-y: auto;
}

.authorDetails{
    display: flex;
}

.roundImage{
    margin: 0;
    padding: 0;
    margin-top: 3px;
    font-size: 0;
    border: 0;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.usernameOfAuthor{
    color: #7b2240;
    font-size: 9px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    overflow-y: auto;
    margin-top: 9px;
}

.numOfComments{
    margin: 0;
    color: rgb(80, 80, 80);
    font-size: 7px;
    margin-right: 10px;
    margin-top: 8px;
}

.squareImage{
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 0;
    padding: 0;
}

.postFourthPart{
    display:flex; 
    flex-direction:column;
    overflow-y: auto;
}

.postFifthPart{
    margin-left: auto;
    margin-right: 0;
    order: 2;
    overflow-y: auto;
}

.thePortNameDiv{
    margin-top: 3px;
}

.postDescription{
    margin: 0;
    font-size: 8px;
    color: black;
    margin-left: 5px;
    margin-top: 6px;
}
