/* CSS file for: 'portIndex.html'
    version 1.0
    08.11.2019
    Description: Creation of File
- Front End Team
*/

.flexTitle{
    display: flex;
    position: relative;
    margin-bottom: 15px;
    margin-left: 7vmin;
}

.page
{
    background-color: #ded3d7; /* Slight Maroon */
    margin-top: calc(6vh + 6vw);
    border-bottom: solid #7B2240;
    border-bottom-width: 1px;
    text-align: center;
    padding: 9px;
    padding-left: 65px;
    padding-right: 65px;
    width: auto;
    height: auto;
    font-family: inherit;
    font-size: 0;
    font-weight: bold;
    color: #7B2240;
    display: inline-block;
}

.pageTitle{
     margin: 0;
     font-size: 11.5px;
     letter-spacing: 1.5px;
}

.port-section{
    margin: 0;
    width: 450px;
    height: auto;
    border-radius: 5px;
    position: relative;
    margin-left: 7vmin;
    box-shadow: 1px 1px 1px gray;
    display: flex;
    padding: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
}

.portFirstPart, .portSecondPart, .portThirdPart{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}

.portFirstPart, .portSecondPart{
    margin: 0;
    margin-right: 15px;
}

.portThirdPart{
    margin-left: auto;
    margin-right: 0;
    order: 2;
}

.portName{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(80, 80, 80);
}

.portMembersNumber{
    margin: 0;
    padding: 0;
    font-size: 8.5px;
    color: rgb(80, 80, 80);
}

.portDescription{
    margin: 0;
    padding: 0;
    font-size: 9.5px;
    letter-spacing: 0.5px;
    color: rgb(80, 80, 80);
}

.indexForm{
    margin: 0;
    padding: 0;
    font-size: 0;
}

.subscribeIndex{
    text-align: center;
    border-radius: 3px;
    border: 0;
    color: white;
    font-size: 8.5px;
    width: 70px;
    height: auto;
    padding: 6px;
    letter-spacing: 0.5px;
    cursor: pointer;
}