/* CSS Styles for the template: 'postSubmitted.html'
Version 1.0

    08.06.2019

    Description: Creation of file

- Front End Team
*/

.page
{
    width: 70%;
    margin-top: 23vmin;
    margin-left: 15vmin;
}

.welcome
{
     font-size: 24px;
     text-align: left;
     margin-bottom: 15px;
     margin-top: 5px;
}

.viewPost, .homepage
{
    text-align: center;
    display: block;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 0;
    background-color: #757575;
    color: white;
    font-size: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.5px;
    cursor: pointer;
    overflow: hidden;
    transition: all 1s;
}

form
{
     padding: 0;
     margin: 0;
}