.container {
	width: 50%;
	margin: 150px 150px;
	padding:40px 100px;
	background-color: #eaeae6;
	font-family: "Arial", Times, serif;
	position: relative;
}

.container form {
	margin-bottom: 85px;
}

.header h1{
	font-weight: normal;
}

.header p {
	color: red;
}

.header input {
	position: absolute;
	top: 50px;
	right: 115px;
	padding: 15px 15px;
	width: 25%;
}

.header .required p {
	position: absolute;
	right: 100px;
	top: 40px;
	color: red;
}

.required {
	margin-bottom: 15px;
	display: inline-flex;
	width: 100%;
}

.required p {
	position: absolute;
	right: 100px;
	top: 180px;
	color: red;
}


.input {
	padding: 15px 5px;
	width: 95%;
}

.form {
	margin-bottom: 15px;
}

.btncontainer {
	position: absolute;
	bottom: 0px;
	right: 115px;
	margin-bottom: 5px;
}
.btn {
	width: 20%;
	min-width: 100px;
	max-width: 100px;
	padding: 10px 5px;
	background-color: grey;
	color: white;

}









