/*Attributes for Left Side:*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
}

.leftContainer{
    display: inline-block;
}

.a{
    font-style: italic;
    font-size: 31pt;
    font-weight: 100;
}

.b{
    font-style: normal;
    font-size: 34pt;
}


.logo{
    width: 50px; 
    height: 50px;
    margin-bottom: 10px;
    margin-top: 25px;
    border-radius: 100%;
}

header{
    font-size: 30px;
    color: rgb(149,37,13);
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: white;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    margin-top: 25px;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
.button1{
    color:#fff;
    font-size:10px;
    border: 1px solid #a6a6a6;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 6px;
    outline: none;
    background: rgb(132,122,120); 
}


.text{
    border: 1px solid #a6a6a6;
    width: 230px;
    height: 50px;
    border-radius: 5px;
    margin-top: 25px;
    padding-left: 9px;
    color: #6c6c6c;
    background: #fcfcfc;
    outline: none;
    font-size: 15px;
}

#sidebarCollapse{
    margin-top: 30px;
    background-color: #900C3F ;
    font-size: 30px; 
    outline: none;
    border: none;
}


i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}


#w2{
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 50px;
}

#w1{
  position: relative;
  top: 59px;
  right: 50px;
  font-size: 100px;
}

#sidebar {
    min-width: 300px;
    max-width: 1000px;
    background: #900C3F;
    color: #fff;
    transition: all 0.3s;
    text-align: center;
    border-bottom-right-radius: 50px 45px;
    border-top-right-radius: 50px 45px;
}

#sidebar.active {
    min-width: 100px;
    max-width: 150px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}


#sidebar ul li a {
    text-align: center;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2em;
    display: block;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 90vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-right: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

} /*Close the Media Query*/

/* Attributes for Right Side:*/

body
{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(236,236,236);
  display: inline-block;
}

.middleContainer
{
    position: absolute;
    left: 21vw;
    width: 53vw;
    height: 100vh;
    display: inline-block;
    margin-right: 0;
}

.portIndex
{
    background-color: rgb(227,227,227);
    width: 71%;
    height: 100vh;
    margin-top: 25%;
    margin-left: 1%;
}

.rightContainer
{
    font-family: Helvetica, Arial, Sans-Serif;
    width: 25vw;
    height: auto;
    background-color: rgb(235,232,232);
    position: absolute;
    top: 0px;
    left: 75vw;
    overflow-y: auto;
    display:inline-block;
    margin-left: 0;
}

.searchform
{
    margin-top: 12%;
    margin-bottom: 0%;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
}

.search
{
    margin: auto;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 11px;
    padding: 4.5% 10px 4.5% 10px;
    color: black;
    border-radius: 3px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-image: none;
    width: 100%;
}

.search::placeholder 
{
    color:  black !important;
}

.viewPortIndex
{
    padding: 3% 10px 2.2% 10px;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    width: 65%;
    background-color: rgb(222, 211, 215);
    color: #7B2240; /* maroon */
    text-align: center;
    letter-spacing: 1px;
    border: 0;
    border-bottom: solid 1px;
    border-bottom-color: #7B2240; /* maroon */
    display: flex;
    justify-content: center;
    margin-top: 12%;
    word-spacing: 5px important!;
}

.viewPortIndex:hover
{
    background-color: lightgray !important;
    cursor: pointer !important;
    -webkit-transition: all 0.25s !important; /* Safari */
    transition: all 0.25s !important;
}

.trending
{
    font-size: 12px;
    margin: auto;
    width: 65%;
    height: 44%;
    background-color: rgb(222, 211, 215);
    border: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 2px lightgray;
    margin-top: 2.5%;
    overflow-x: hidden;
    overflow-y: auto;
}

.trendingTitle
{
    font-weight: bold;
    padding-left: 14px;
    padding-top: 12px;
    color: #7B2240; /* maroon */
    margin-bottom: 8px;
    margin-top: 0px;
}

.trendingName, .trendingMem
{
    color: rgb(80, 80, 80);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 22px;
}

.trendingName
{
    font-size: 11px;
}

.trendingMem
{
    font-size: 8px;
    margin-top: 1%;
    margin-bottom: 8%;
}

.membersTrending5
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.subscribe
{
    float: right;
    position: relative;
    top: -39px;
    left: -25px;
    border-radius: 3px;
    border: 0;
    background-color: rgb(117, 117, 117);
    color: white;
    font-size: 8px;
    width: 32%;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 0.5px;
    cursor: pointer;
    overflow: hidden;
}

.subscribe5
{
    top: -21px;
}

.adframe
{
    background-color: white;
    margin: auto;
    width: 73%;
    height: 36vh;
    font-size: 12px;
    border: 0;
    box-shadow: 0.5px 0px 2px lightgray, -0.5px 0px 2px lightgray, 0px 8px 8px 0px rgb(175, 175, 175);
    margin-top: 16%;
    margin-bottom: 6%;
    overflow-x: auto;
    overflow-y: auto;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ad
{
    background-color: white;
    margin: auto;
    width: 96%;
    height: 32vh;
    border: solid gray 0.5px;
    margin-top: 1%;
    margin-bottom: 1%;
    /* Jinja to come below: */
    content: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/2016_Brooklyn_College_Library.jpg/300px-2016_Brooklyn_College_Library.jpg);
}

.adframe p
{
    color:  black; 
    font-size: 9px;
    letter-spacing: 0.75px;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 0;
}

/* Middle Part---------------Johnny */
.creat-post{
position: absolute;
left: 30%;
bottom:30%;
}
.dropdown{
    position: absolute;
    right: 40%;
    bottom:58%;
}
.container{
position: absolute;
left: 25%;
bottom:85%;
   
}
.btn{
   height:40px;
   width: 150px;
}
.col{

}
.right-btn{

    background-color: #e5e3e3;
    width: 250px;
    height: 60px;
    border-bottom-color: red;
    border-bottom-style: groove;
    text-align: center;
    padding-top:16px;
}

.post-section{
    width: 700px;
    height: auto;
	position: absolute;
    left: 24%;
    bottom: 65%;
 
}

.post-section2{
    width: 700px;
    height: auto;
	position: absolute;
    left: 24%;
    bottom: 45%;
}
.post-section3{  
    width: 700px;
    height: auto;
	position: absolute;
    left: 24%;
    bottom: 25%;
}
.post-section4{ 
    width: 700px;
    height: auto;
	position: absolute;
    left: 24%;
    bottom: 5%;
}



.post-border{
background-color: #e5e3e3;
border-radius:10px;
}

.img-thumbnail{
    width:90px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.icon-img img{
position: absolute;
width: 50px;
height: 50px;
border-radius: 30px;
margin-top: 80px;
right:100px;    

}

.font-weight-lighter{
    margin-top: 15px;
    margin-bottom:5px
}

#count{
    margin-right: 5px;
    
}
.comment{
    position: absolute;
    bottom: 10px;
    font-size: 14px;
}

.body-text{
   position: absolute;
   bottom: 25px;
}

.media{
    margin-left: 80px;
}

.vote{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 30px;
    color: #4dd0bf;
}

#count1{
    position: absolute;
    margin-left:8px;
   top:30px;
}

.dash{
   position: absolute;
    top:60px;
    color: black;
    font-size: 37px;
}

.date{
    margin-right: 40px;
    margin-top:10px;
    font-size: 12px;
    color: #4dd0bf;

}

.post{
    margin-top: 55px;
    font-size: 13px;
    margin-right: 5px;
    color: #4dd0bf;
}
.post-name{
    position: absolute;
    top: 90px;
    right: 45px;
    font-size:18px;
    color: #4dd0bf;
}

#bt{
    border-style: hidden; 
    background-color: #e5e3e3;
    position: relative;
    right: 5px;
    color:  #4dd0bf;
    
}
#antzone{
    position: absolute;
    left: 10px;
    bottom:-30px;

}