        {%- block meta %}
            <meta charset="UTF-8">
        {% endblock meta -%}
        {%- block theTitle %}
            {%- if name %}<title>{{ name }}</title> {% else %}<title>logicPort</title>{% endif -%}
         {% endblock theTitle -%}
         {%- block linkedStatics %}
              <! -- JavaScript -->
              <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
              <! -- Website's Icon -->
              <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
              <!-- Imported Google Font Source Code Pro & Roboto -->
              <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
              <!-- Custom CSS -->
              <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesBase.css') }}">
          {% endblock linkedStatics -%}