        {%- block meta %}
            <meta charset="UTF-8">
        {% endblock meta -%}
        {%- block theTitle %}
            {%- if name %}<title>{{ name }}</title> {% else %}<title>Underdogs</title>{% endif -%}
         {% endblock theTitle -%}
         {%- block linkedStatics %}
              <!-- JavaScript -->
              <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
              <!-- Website's Icon -->
              <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
              <!-- Imported Google Font Source Code Pro & Roboto -->
              <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
              <!-- Custom CSS -->
              <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesBase.css') }}">
              <!-- Notifications -->
              <script src = "{{ url_for('/',filename='OneSignalSDKUpdaterWorker.js') }}"></script>
              <script src = "{{ url_for('/',filename='OneSignalSDKWorker.js') }}"></script>
              <link rel="manifest" href="/manifest.json" />
              <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
              <script>
                 var OneSignal = window.OneSignal || [];
                 OneSignal.push(function() {
                    OneSignal.init({
                       appId: "550def7b-133e-441b-b537-4a541c82e74d",
                    });
                 });
               </script>
          {% endblock linkedStatics -%}
