<form action = "" method="POST">
       <input type = "text"
                   name = "username"
                   class = "text"
                   autocomplete = "off"
                   placeholder = "Username/Email"/>

       <input type = "text"
                  name = "password"
                  class = "text"
                  autocomplete = "off"
                  placeholder = "Password"/>

        <input type = "submit" class = "button1" value = "Sign in" name = "submit">
 </form>

  <div class = "passAndRegistr">
      <a href = "" class = "forgotPass">Forgot Password?</a>

      <p class = "notAMem">Not a member?</p>
      <form method = "post" action = "">
                   <input type = "submit" name = "register" class="button2" value = "Register">
      </form>
  </div>
