<!DOCTYPE html>
<html lang = "en">
<head>
        <meta charset="UTF-8">

        <title>rightContainer</title> <!-- Jinja2 -->
        <script src="../static/js/scripts.js"></script><!-- Jinja2 -->
        <link rel="shortcut icon" href="favicon.ico"> <!-- Jinja2 -->

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/stylesBase.css"><!-- Jinja2 -->

        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
      
</head>
<body>

    <div class = "leftContainer"> <!-- Beginning of the Left (Logo and Menu) Container -->

        <header>
            <span></span>
            <span></span>
            <span class="a">logic</span>
            <span class="b">Port</span>
        </header>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar" >

                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse">
                        <i class="fas fa-align-justify"></i>
                    </button>


                    <h1><img src="profile_logo.png" class="logo"></h1>
                </div>

                <ul class="list-unstyled">
                    <li >
                        <a href="#" aria-expanded="false">
                       <form action='' method="POST"> 	
                            <input href="#" type="tsext" name="username" 
                            class="list-unstyled CTAs text" 
                            placeholder="Username/Email"/>
                        </a>
                    </li>
                    <li>
                        <a href="#"><input type="text" name="password"
                            class="list-unstyled CTAs text" 
                            placeholder="Password"/></a>
                       </form>     
                        <a href="" aria-expanded="false" 
                           class="list-unstyled CTAs">
                            Forgot Password? 
                            <button class="button1">Sign in</button>
                        </a>
                    </li>

                    <li>
                        <a  href="" aria-expanded="false" 
                            class="list-unstyled CTAs">
                            Not a member?
                            <span></span>
                            <span></span>
                            <span></span>
                            <button class="button1">Register</button>
                        </a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs">
                    <li><a href="" id="w1">Our Team</a></li>
                    <li><a href="" id="w2">Contact Us</a></li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content"> </div>
    

        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>

    </div> <!-- End of the Left (Logo and Menu) Container -->


    <div class = "rightContainer"> <!-- Beginning of the Right Container -->

        <form class = "searchform" 
                   name = "searchform" 
                   action = "http://www.brooklyn.cuny.edu/web/home.php"
                   method = "post" 
                   target="justframe"> <!-- Submit Search w/ ENTER Key: -->
                                                   <!-- Instead of pressing a button, just press ENTER or RETURN for the search to be processed. -->

            <input type = "search" 
                        class = "search" 
                        name = "search" 
                        title = "Type Your Search and Press ENTER to Submit"
                        placeholder = "Search"
                        onkeydown = "submitSearch();">
         </form>

         <button type="button" class = "viewPortIndex" title="View Port Index" onclick="window.location.href='../port_index/'">VIEW PORT INDEX</button><!-- Jinja2 -->

        <div class = "trending"> <!-- Trending Ports Window: shows you all the trending ports and lets you subscribe to some. -->
        <!-- This part will have exactly 5 trending ports, that will repeat among all users (that's what the Product Team said they want). Hence, we do not use a Jinja loop -->
        <!-- here; we just use the names of the variables passed to this template in the JSON array. -->

            <p class = "trendingTitle" >TRENDING PORTS</p>

            <iframe name="justframe" style="display:none;"></iframe>
            <form class = "trendingForm" action = "about:blank" method = "post" target="justframe">
               <p class = "trendingName" >p/sellBooks</p> <!-- Jinja2 -->
               <p class = "trendingName trendingMem" >16 members</p><!-- Jinja2 -->
              <input type="submit" class = "subscribe subscribe1" name  = "subscribe1" title="Subscribe" value = "Subscribe" onclick="subscribe(this)" >
               <p class = "trendingName" >p/bcNews</p><!-- Jinja2 -->
               <p class = "trendingName trendingMem" >45 members</p><!-- Jinja2 -->
               <input type="submit" class = "subscribe subscribe2" name  = "subscribe2" title="Subscribe" value = "Subscribe" onclick="subscribe(this)" >
               <p class = "trendingName" >p/offTopic</p><!-- Jinja2 -->
               <p class = "trendingName trendingMem" >84 members</p><!-- Jinja2 -->
               <input type="submit" class = "subscribe subscribe3" name  = "subscribe3" title="Subscribe" value = "Subscribe" onclick="subscribe(this)" >
               <p class = "trendingName" >p/CISC3130</p><!-- Jinja2 -->
               <p class = "trendingName trendingMem" >36 members</p><!-- Jinja2 -->
               <input type="submit" class = "subscribe subscribe4" name  = "subscribe4" title="Subscribe" value = "Subscribe" onclick="subscribe(this)" >
               <p class = "trendingName" >p/mathHelp</p><!-- Jinja2 -->
               <p class = "trendingName trendingMem membersTrending5" >49 members</p><!-- Jinja2 -->
               <input type="submit" class = "subscribe subscribe5" name  = "subscribe5" title="Subscribe" value = "Subscribe" onclick="subscribe(this)" >
            </form>
        </div>

        <div class = "adframe"> <!-- Advertisement Area: an annoying and clickable ad will appear here (it is even more annoying to 
                                           realize we are not paid a penny for puttingthis here!) -->
            <p>Advertisement</p>
            <a href = "http://www.brooklyn.cuny.edu/web/home.php" title = "Go to the Brooklyn College's Website"><!-- Jinja2 -->
            <div class = "ad"></div></a>
        </div>

    </div> <!-- End of the Right Container -->

</body>
</html>