<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>CISC3140 PROJECT</title>

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="style2.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
      
    </head>
    <body>
 
        <header>
            <span></span>
            <span></span>
            <span class="a">logic</span>
            <span class="b">Port</span>
        </header>




        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar" >

                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse">
                        <i class="fas fa-align-justify"></i>
                    </button>


                    <h1><img src="profile_logo.png" class="logo"></h1>
                </div>

                <div style="font-size: 15px " class=" CTAs"> Name</div>

                <ul class="CTAs">
                            <div><button class="button1 CTAs">Uesr Profile</button></div>
                            <div><button class="button1 CTAs">Uesr Profile</button></div>
                            <div><button class="button1 CTAs">Uesr Profile</button></div>

                </ul>
                <div class=" CTAs"><a href="" id="w3">sign out</div>
                    </a>
                    

                <ul class="list-unstyled CTAs">
                    <li><a href="" id="w1">Our Team</a></li>
                    <li><a href="" id="w2">Contact Us</a></li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content"> </div>
    

        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                 });
             });
         </script>
    </body>
</html>
