<head>
              <! -- Website's Icon -->
              <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
</head>
{#- No-Passwords-Reminder-Funny-Cat-Giffy Template #}

{% extends "base.html" %}
{% block content %}
    <div style = "margin-top: calc(4.5vh + 4.5vw); text-align: center;">
        <h1>No Passwords Reminders at This Time ... !</h1>
        <p>Try to create a new account, or get your brain to finally remember simple passwords. Da!</p>
        <img src = "{{ url_for('static',filename='img/catGif.gif') }}" width = "200px" alt = "Angry cat staring at a computer" title = "Nope! No Password Reminders!">
        <p><a href="/" style = "color: blue; text-decoration: underline;" title = "Go back to Homepage">Back to Homepage</a></p>
    </div>
{% endblock %}