{#- Version 1.1 - 08.07.2019, 16:00 #}
{#- Modified according to re-factoring suggested by Professor Chuang #}

{#- Version 1.0 - 08.06.2019, 16:00 #}
{#- This is the 'postSubmitted.html' template. When a user submits a post, he or she is redirected to this page. #}
{#- It, hence, extends only the 'baseLoggedIn.html' template #}
{#- The links below must have been included in the 'head' tag before 'extends'; otherwise, they won't be noticed by the application. #}
<head>
              <! -- Website's Icon -->
              <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
              <!-- CSS files: -->
              <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesPostSubmitted.css') }}">
</head>
{#- Assume that after the registration, the user is logged in automatically: #}
{%- extends "base.html" %}

{#- Since this template inherits everything from a base template, all we modify here is the 'content' block: #}
{%- block content %}
              <div class = "page">
                  <p class = "welcome">Post submitted.</p>
                  <form action  =""> {#- Note: no info besides 'action' redirection is submitted by this form. Don't add 'method = post' here! #}
                      <input type="submit" name ="viewPost" class = "viewPost" value = "View Post" title = "View your post">
                  </form>
                  <form action  =""> {#- Note: no info besides 'action' redirection is submitted by this form. Don't add 'method = post' here! #}
                      <input type="submit" name ="homepage" class = "homepage" value = "Return to Post Feed" title = "Return to Post Feed (Homepage)">
                  </form>
              </div>
{% endblock content -%}