{#- Version 1.0 - 08.09.2019 - Description: File Created #}
<head>
     <!-- Johnny -->
        <script src="{{ url_for('static',filename='js/scriptsPosts.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesPosts.css') }}">
     <!-- Johnny -->
     <! -- Website's Icon -->
     <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
</head>
<body {%- block onload %} onload = "displayYear(); cutIt ();" {% endblock -%}>
{%- extends "base.html" %}

{%- block content %}

     <div class = "flexTitle">
        <div class = "page">
                  <p class = "pageTitle" >CURRENT PORT: p/{{ port['name'] }}</p>
        </div>
        {#- If user presses the button, he or she will be redirected to create a new post! #}
        {%- if user %}
            <form method = "get" action = "/new-post/" class = "createPostForm">
                  <input type = "submit" class = "createPostBtn" name = "createPostBtn" value = "CREATE POST" title = "Create New Post">
            </form>
        {% endif -%}
        {#- The 'sort by' form. If the user selects something from the list, the Python code could reload this based on the user's #}
        {#- choice of sorting. Notice the hidden input with name 'postsAndPortToSort' that could give you the info about #}
        {#- the posts in which port to sort! #}
        <form method = "post" action = "" class = "sortByForm">
            <select name = "sortByBtn" title = "Sort Posts" onchange="this.form.submit()">
                  <option value="new" selected="selected">Sort By: New</option>
                  <option value="hot">Sort By: Hot</option>
            </select>
            <input type = "hidden" name = "postsAndPortToSort" value = "{{ port['name'] }}">
        </form>
     </div>

     {#- Each time a user upvotes or downvotes some post, a form will be submitted, but page #}
     {#- won't reload, since the 'target' will be redirected into the frame 'frameForVotes' below: #}
     <iframe name="frameForVotes" style="display:none;" type=  'hidden'></iframe>

     {#- Optional 'search' argument. Should contain the string representing the user's search. #}
     {#- Will display the message to the user: 'Showing Search Results for: bla-bla'. #}
     {%- if search %}
         <p class = "searchResultsMessage"><u>Showing Search Results for: {{ search }}</u></p>
     {% endif -%}

     {%- for post in port['posts'] %}
         {#- Display alternating colors for odd and even-numbered posts: #}
         {%- if loop.index % 2 != 0 %}
            <div class="post-section" style = "background-color: #ded3d7;">
         {%- else %}
            <div class="post-section" style = "background-color: #eae8e8;">
         {% endif -%}

                <div class = "votes">
                   {%- if user %} {#- Appears only if the user is logged in #}
                     <form class = "upvote" action = "/vote/" method = "post" target = "frameForVotes">
                            <input type = "submit" 
                                       class = "upvoteBtn post{{ post['postId'] }}"
                                       value = "++" 
                                       name = "value"
                                       onclick="forUpvote (this)" 
                                       title = "Upvote it!"
                                       {%- if post['upOrDownvoted'] == 1 %}
                                       style = "color: rgb(77, 208, 191);"
                                       {%- else %}
                                       {#- do nothing #}
                                       {% endif -%}>
                   {% endif -%}
                    <input type="hidden" name="postId" value="{{ post['postId'] }}">
                    <input type="hidden" name="originalValue" value="{{ post['upOrDownvoted'] }}">
                    <input type="hidden" name="type" value="post">
                    <p class = "numOfVotes post{{ post['postId'] }}"
                       {%- if (post['upOrDownvoted'] == 1) and (user) %}
                       style = "color: rgb(77, 208, 191);"
                       {%- elif (post['upOrDownvoted'] == -1) and (user) %}
                       style = "color: red;"
                       {%- else %}
                       {#- do nothing #}
                       {% endif -%}>{{ post['votes'] }}</p>
                    {%- if user %} {#- Appears only if the user is logged in #}
                        {{user}}
                          <input type = "submit" 
                                     class = "downvoteBtn post{{ post['postId'] }}"
                                     value = "--" 
                                     name = "value"
                                     onclick="forDownvote (this)" 
                                     title = "Downvote it!"
                                     {%- if post['upOrDownvoted'] == -1 %}
                                     style = "color: red;"
                                     {%- else %}
                                     {#- do nothing #}
                                     {% endif -%}>
                       </form>
                     {% endif -%}
                 </div>
                 <div class = "postImage">
                        {#- Since 'post['image']' is optional, we must have the following 'if' statement. #}
                        {%- if post['image'] != None %}
                            <a href = ""><img src = "{{ post['image'] | e }}" class = "squareImage" title = "See post details" alt = "the post {{ post['postTitle'] | e }}"></a>
                        {% endif %}
                 </div>
                 <div class = "description">
                        <a href = "" class = "portOfPostName" title = "See all posts in {{ post['portName'] }}">p/{{ post['portName'] }}</a>
                        <a href = "/post/{{post['postId']}}" class = "nameOfPost" title = "{{ post['postTitle'] | e }}">{{ post['postTitle']  | e }}</a>
                        {%- if post['postText'] != None %}
                              <p class = "postDescription">{{ post['postText']  | e }}</p>
                        {% endif -%}
                        <p class = "numberOfComments">{{ post['numComments'] }} comments</p>
                 </div>
                 <div class = "timeAndAuthor">
                        <p class = "dateOfWriting">{{ post['dateCreated'] }}</p>
                        <p class = "postedBy">Posted by: {{post['author']}}</p>
                        <div class = "authorDetails">
                             {#- Since 'post['image']' is optional, we must have the following 'if' statement. #}
                                 {%- if post['image'] != None %}
                                 <a href="" title="{{ post['postTitle'] }}"><img src="{{post['image'] }}"
                                       class="roundImage" alt="the user {{ post['username'] }}"></a>
                                 {% else %}
                                 <a href="" title="{{ post['postTitle'] }}"><img src="{{ url_for('static',filename='img/maroonFolder.png') }}"
                                       class="roundImage" alt="the user {{ post['author'] }}"></a>
                                 {% endif -%}
                                 {%- if post['avatarUrl']|length > 1 %}
                                 <a href=""   title="{{ post['author'] }}'s profile"> <img src="{{ post['avatarUrl']  }}" class="roundImage"> </a>
                                 {% else %}
                                 <a href="" title="{{ post['postTitle'] }} post "> <img src="{{ url_for('static',filename='img/profile_logo.png') }}"
                                       class="roundImage"> </a>
                                 {% endif -%}



                             <a href = "" class = "usernameOfAuthor" title = "{{ post['author'] }}'s profile">{{ post['author'] }}</a>
                        </div>
                 </div>
         </div>
    {% endfor -%}

 <!-- End of middle part -->

{%- endblock content %}
</body>
