{#- Version 1.0 - 08.12.2019 - Description: File Created #}
<head>
     <script src="{{ url_for('static',filename='js/scriptsPostDetails.js') }}"></script>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesPostDetails.css') }}">
     <! -- Website's Icon -->
     <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>
<body {%- block onload %} onload = "displayWithLineBreaks();displayYear();" {%- endblock %} >
{%- extends "base.html" %}
{%- block content %}

     <div class = "flexTitle">
        {%- if user %} {#- Appears only if the user is logged in #}
            <form method = "post" action = "/save/" class = "savePostForm" name = "savePostForm" target = "frameForVotesAndPostSaving">
                 {%- if post['isSaved'] == True %}
                      <input type = "submit" 
                                 class = "savePost" 
                                 name = "savePostBtn" 
                                 value = "Post Saved" 
                                 title = "Post Saved" 
                                 style = "background-color: #7B2240; 
                                              background-image: url({{ url_for('static',filename = 'img/grayFolder.png') }});"
                                 onclick = "saveOrUnsavePost ()">
                 {%- else %}
                      <input type = "submit" 
                                 class = "savePost" 
                                 name = "savePostBtn" 
                                 value = "Save Post" 
                                 title = "Save Post" 
                                 style = "background-color: rgb(117, 117, 117); 
                                              background-image: url({{ url_for('static',filename = 'img/maroonFolder.png') }});"
                                 onclick = "saveOrUnsavePost ()">
                 {% endif -%}
                  <input type = "hidden" name = "postId" value = "{{ post['postId'] }}">
            </form>
        {% endif -%}
     </div>

     {#- Optional argument, to display confirmation of comment submission to user: #}
     {%- if commentSubmittedMessage %}
          <p class = "commentSubmittedMessage">✔   Comment Submitted & Posted!</p>
     {% endif -%}

     {#- Each time a user upvotes or downvotes the post or a comment, or saves a post, a form will be submitted, but page #}
     {#- won't reload, since the 'target' will be redirected into the frame 'frameForVotesAndPostSaving' below: #}
     <iframe name="frameForVotesAndPostSaving" style="display:none;" type=  'hidden'></iframe>

     <div class = "mainScreen">
         <div class = "postData">
            <span class = "votes">
                 {%- if user %} {#- Appears only if the user is logged in #}
                     <form class = "upvote" action = "/vote/" method = "post" target = "frameForVotesAndPostSaving">
                            <input type = "submit" 
                                       class = "upvoteBtn post{{ post['id'] }}" 
                                       value = "++" 
                                       name = "value"
                                       onclick="forUpvote (this)" 
                                       title = "Upvote it!"
                                       {%- if post['upOrDownvoted'] == 1 %}
                                       style = "color: rgb(77, 208, 191);"
                                       {%- else %}
                                       {#- do nothing #}
                                       {% endif -%}>
                 {% endif -%}
                        <input type="hidden" name="postId" value="{{ post['postId'] }}">
                        <input type="hidden" name="originalValue" value="{{ post['upOrDownvoted'] }}">
                        <input type="hidden" name="type" value="post">
                 <p class = "numOfVotes post{{ post['id'] }}"
                      {%- if (post['upOrDownvoted'] == 1) and (user) %}
                       style = "color: rgb(77, 208, 191);"
                      {%- elif (post['upOrDownvoted'] == -1) and (user) %}
                       style = "color: red;"
                      {%- else %}
                      {#- do nothing #}
                      {% endif -%}>{{ post['votes'] }}</p>
                 {%- if user %} {#- Appears only if the user is logged in #}
                          <input type = "submit" 
                                     class = "downvoteBtn post{{ post['id'] }}" 
                                     value = "--" 
                                     name = "value"
                                     onclick="forDownvote (this)" 
                                     title = "Downvote it!"
                                     {%- if post['upOrDownvoted'] == -1 %}
                                     style = "color: red;"
                                     {%- else %}
                                     {#- do nothing #}
                                     {% endif -%}>
                     </form>
                 {% endif -%}
             </span>
             <div class = "description">
                        <a href = "" class = "portOfPostName" title = "See all posts in {{ post['portname'] }}">p/{{ post['portname'] }}</a>
                        <p class = "nameOfPost" title = "{{ post['postTitle'] | e }}">{{ post['postTitle']  | e }}</p>
              </div>
              <div class = "timeAndAuthor">
                        <p class = "dateOfWriting">{{ post['dateCreated'] }}</p>
                        <p class = "postedBy">Posted by:</p>
                        <div class = "authorDetails">
                             {#- Since 'post['authorImg']' is optional, we must have the following 'if' statement. #}
                             {%- if (post['authorImg']) and (post['authorImg']|length > 5) %}
                                  <a href = "" title = "{{ post['author'] }}'s profile"><img src = "{{ post['authorImg'] | e }}" class = "roundImage" alt = "the user {{ post['author'] }}"></a>
                             {%- else %}
                                  <a href = "" title = "{{ post['author'] }}'s profile"><img src = "{{ url_for('static',filename='img/profile_logo.png') }}" class = "roundImage" alt = "the user {{ post['author'] }}"></a>
                             {% endif -%}
                             <a href = "" class = "usernameOfAuthor" title = "{{ post['author'] }}'s profile">{{ post['author'] }}</a>
                         </div>
                </div>
          </div> <!-- End of 'postData' division -->

         {#- Since 'post['text']' is optional, we must have the following 'if' statement. #}
         {%- if post['text'] != None %}
                 <p class = "postDescription">{{ post['postText']  | e }}</p>
         {% endif %}

         {#- Since 'post['image']' is optional, we must have the following 'if' statement. We put the whole div inside the 'if' statement. #}
         {%- if post['image'] != None %}
           <div class = "postImageDiv">
                   <img src = "{{ post['image'] | e }}" class = "squareImage" title = "{{ post['postTitle'] | e }}" alt = "the post {{ post['postTitle'] | e }}">
           </div>
         {% endif %}

          {%- if user %}
              <form class = "writeCommentToPost" method = "post" action = "" onsubmit = "submitWithEscapeCommentToPost ();">
                  <textarea rows = "7" 
                                  class = "commentToPostText" 
                                  name = "commentToPostText" 
                                  title = "Write a comment to {{ post['author'] }}'s post" 
                                  placeholder = "Comment"
                                  spellcheck = "true" 
                                  onkeyup = "enableDisableSubmission(this)"></textarea>
                   <div class = "commentToPostDiv">
                        <input type = "submit" class = "CommentToPostBtn" name = "CommentToPostBtn" title = "Submit your comment!" value = "✖   Submit Comment" disabled>
                   </div>
               </form> 
         {% endif -%}
         
         {#- The following is perhaps the most intricate part of this template (and the whole project): the tree of comments. #}
         {#- I asked Joe to permit only 2 levels of comments: comments to Post, and comments to these comments. #}
         {#- Therefore, there is no 'reply' link to the second-level comments (Facebook, e.g., does this too.) #}
         {#- Also: (1) 1-level comments are sorted by highest number of votes. #}
         {#- (2) 2-level comments are sorted by time of writing (oldest first). All of this is an agreement with Joe. #}
         
         <div class = "comments">
             {#- A line that states how many total comments (both 1 and 2 level): #}
             {%- if post['numComments'] != '0' %}
                   <p class = "numberOfComments">{{ post['numComments'] }} comments:</p>
             {%- else %}
                   <p class = "numberOfComments">No comments yet!</p>
             {% endif -%}
             {%- if post['numComments'] != '0' %}
             {#- The tree of comments: #}
              <div class = "commentTree">
        
              {%- for comment1 in comments['comments'] %}
                   <div class = "firstLevelComment">
                       <div class = "votesComments">
                            {%- if user %} {#- Appears only if the user is logged in #}
                                <form class = "upvoteComments" action = "/vote/" method = "post" target = "frameForVotesAndPostSaving">
                                    <input type="hidden" name="id" value="{{ comment1['commentId'] }}">
                                    <input type="hidden" name="originalValue" value="{{ comment1['upOrDownvoted'] }}">
                                    <input type="hidden" name="type" value="comment">
                                    <input type = "submit" 
                                                class = "upvoteBtn upvoteBtnComment{{ comment1['commentId'] }}" 
                                                value = "++" 
                                                name = "value"
                                                onclick="forUpvote (this)" 
                                                title = "Upvote it!"
                                               {%- if comment1['upOrDownvoted'] == 1 %}
                                                style = "color: rgb(77, 208, 191);"
                                               {%- else %}
                                               {#- do nothing #}
                                               {% endif -%}>
                            {% endif -%}
                            <p class = "numOfVotes numOfVotesComment{{ comment1['commentId'] }}"
                                 {%- if (comment1['upOrDownvoted'] == 1) and (user) %}
                                 style = "color: rgb(77, 208, 191);"
                                 {%- elif (comment1['upOrDownvoted'] == -1) and (user) %}
                                 style = "color: red;"
                                 {%- else %}
                                 {#- do nothing #}
                                 {% endif -%}>{{ comment1['votes'] }}</p>
                           {%- if user %} {#- Appears only if the user is logged in #}
                                    <input type = "submit" 
                                                class = "downvoteBtn downvoteBtnComment{{ comment1['commentId'] }}" 
                                                value = "--" 
                                                name = "value"
                                                onclick="forDownvote (this)" 
                                                title = "Downvote it!"
                                                {%- if comment1['upOrDownvoted'] == -1 %}
                                                style = "color: red;"
                                                {%- else %}
                                                {#- do nothing #}
                                                {% endif -%}>
                                </form>
                            {% endif -%}
                        </div>
                        <div class = "commentUserImage">
                             {%- if (comment1['authorImg']) and (comment1['authorImg']|length > 1) %}
                                  <a href = "" title = "{{ comment1['author'] }}'s profile"><img src = "{{ comment1['authorImg'] | e }}" class = "roundImage commentsImage" alt = "the user {{ comment1['author'] }}"></a>
                             {%- else %}
                                  <a href = "" title = "{{ comment1['author'] }}'s profile"><img src = "{{ url_for('static',filename='img/profile_logo.png') }}" class = "roundImage commentsImage" alt = "the user {{ comment1['author'] }}"></a>
                             {% endif -%}
                        </div>
                        <div class = "commentUserNameTextAndReply">
                             <a href = "" class = "commentUsernameOfAuthor usernameOfAuthor" title = "{{ comment1['author'] }}'s profile">{{ comment1['author'] }}</a>
                             <p class = "commentText">{{ comment1['commentText']  | e }}</p>
                             {%- if user %}
                                 <button type = "button" class = "commentReply" title = "Reply to this comment" onclick = "unvealArea ({{ comment1['commentId'] }}) ">← Reply</button>
                             {% endif -%}
                        </div>
                        <div class = "commentDate">
                             <p class = "commentDateOfWriting">{{ comment1['dateCreated'] }}</p>
                        </div>
                   </div> <!-- End of 'firstLevelComment' -->
                   <div class = "hiddenArea    for{{ comment1['commentId'] }}" style = "display:none;">
                       <form class = "writeCommentToComment{{ comment1['commentId'] }}" onsubmit = "submitWithEscapeCommentToComment (this);" method = "post" action = "/post/{{ post['postId'] }}">
                           <input type="hidden" name="parentId" value="{{ comment1['commentId'] }}">
                           <textarea rows = "4"
                                           class = "commentToPostText commentToCommentText{{ comment1['commentId'] }}" 
                                           name = "commentToPostText"
                                           title = "Write a comment to {{ comment1['author'] }}'s comment" 
                                           placeholder = "Comment & ENTER"
                                           spellcheck = "true"
                                           onkeyup="enableDisableSubmission(this)"></textarea>
                           <div class = "commentToCommentDiv">
                                 <input type = "submit" class = "commentToCommentBtn buttonComment{{ comment1['commentId'] }}" name = "commentToCommentBtn" title = "Submit your comment!" value = "✖   Submit Comment" disabled>
                           </div>
                        </form>
                   </div>
                  {#- Below is the loop section for the second level comments: #}
                  {#- I could have used the recursive nature of Jinja intead of writing the code below, but there #}
                  {#- are a few significant changes between the 1st level and second level comments. #}
                      {%- for comment2 in comments['replies'] %}
                      {% if comment2["parentId"] == comment1['commentId']%}
                          <div class = "secondLevelComment">
                              <div class = "blackline"> {#- For decoration purposes #}
                              </div>
                              <div class = "votesComments">
                                   {%- if user %} {#- Appears only if the user is logged in #}
                                       <form class = "upvoteComments" action = "/vote/" method = "post" target = "frameForVotesAndPostSaving">
                                           <input type="hidden" name="id" value="{{ comment2['commentId'] }}">
                                           <input type="hidden" name="originalValue" value="{{ comment2['upOrDownvoted'] }}">
                                           <input type="hidden" name="type" value="comment">
                                           <input type = "submit"
                                                       class = "upvoteBtn upvoteBtnComment{{ comment2['commentId'] }}" 
                                                       value = "++" 
                                                       name = "value"
                                                       onclick="forUpvote (this)" 
                                                       title = "Upvote it!"
                                                       {%- if comment2['upOrDownvoted'] == 1 %}
                                                       style = "color: rgb(77, 208, 191);"
                                                       {%- else %}
                                                       {#- do nothing #}
                                                       {% endif -%}>
                                   {% endif -%}
                                   <p class = "numOfVotes numOfVotesComment{{ comment2['commentId'] }}"
                                        {%- if (comment2['upOrDownvoted'] == 1) and (user) %}
                                        style = "color: rgb(77, 208, 191);"
                                        {%- elif (comment2['upOrDownvoted'] == -1) and (user) %}
                                        style = "color: red;"
                                        {%- else %}
                                        {#- do nothing #}
                                        {% endif -%}>{{ comment2['votes'] }}</p>
                                   {%- if user %} {#- Appears only if the user is logged in #}
                                           <input type = "submit"
                                                       class = "downvoteBtn downvoteBtnComment{{ comment2['commentId'] }}" 
                                                       value = "--" 
                                                       name = "value"
                                                       onclick="forDownvote (this)" 
                                                       title = "Downvote it!"
                                                      {%- if comment2['upOrDownvoted'] == -1 %}
                                                       style = "color: red;"
                                                      {%- else %}
                                                      {#- do nothing #}
                                                      {% endif -%}>
                                       </form>
                                   {% endif -%}
                               </div>
                               <div class = "commentUserImage">
                                    {%- if (comment2['authorImg']) and (comment2['authorImg']|length > 1) %}
                                         <a href = "" title = "{{ comment2['author'] }}'s profile"><img src = "{{ comment2['authorImg'] | e }}" class = "roundImage commentsImage" alt = "the user {{ comment2['author'] }}"></a>
                                    {%- else %}
                                         <a href = "" title = "{{ comment2['author'] }}'s profile"><img src = "{{ url_for('static',filename='img/profile_logo.png') }}" class = "roundImage commentsImage" alt = "the user {{ comment2['author'] }}"></a>
                                    {% endif -%}
                               </div>
                               <div class = "commentUserNameTextAndReply">
                                    <a href = "" class = "commentUsernameOfAuthor usernameOfAuthor" title = "{{ comment2['author'] }}'s profile">{{ comment2['author'] }}</a>
                                    <p class = "commentText">{{ comment2['commentText']  | e }}</p>
                                    {#- There is no reply button here, which was done with coordination with Joe #}
                               </div>
                               <div class = "commentDate">
                                    <p class = "commentDateOfWriting">{{ comment2['dateCreated'] }}</p>
                               </div>
                           </div> <!-- End of 'firstLevelComment' -->
                         {% endif -%}
                         <!--ENDS IF COMMENT ID == PARENT-->
                       {% endfor -%} {#- of the second level comments #}
                  {% endfor -%} {#- of the first level comments #}
              </div> <!-- End of 'commentTree' -->
             {% endif -%}
         </div> <!-- End of 'comments' -->
         
    </div> <!-- End of 'mainScreen' -->
{%- endblock content %}
</body>
