{#- Version 1.1 - 08.07.2019, 17:00 #}
{#- Description: changes according to the suggesstion of Professor Chuang; refactoring. #}

{#- Version 1.0 - 08.05.2019, 21:00 #}
{#- This is the 'registPending.html' template. When a user submits a registration form, he or she is redirected to this page. #}
{#- If is quite unclear how confirmation emails could be send through thsi localhost-implemented website, but since we #}
{#- build a real-life application, this page should be created. #}
{#- The links below must have been included in the 'head' tag before 'extends'; otherwise, they won't be noticed by the application. #}
<head>
              <! -- Website's Icon -->
              <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
              <!-- CSS files: -->
              <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/stylesRegistPending.css') }}">
</head>
{#- Assume that after the registration, the user is logged in automatically: #}
{%- extends "base.html" %}

{#- Since this template inherits everything from a base template, all we modify here is the 'content' block: #}
{%- block content %}
              <div class = "page">
                  <p class = "welcome">Welcome!</p>
                  <p class = "parag">You should receive a confirmation email from us shortly.<br>Please click on the link to confirm your account.</p>
              </div>
{% endblock content -%}