<html>
  <head>
    <title>Register - Not Reddit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container card">
      <h1 class="text-center">Register</h1>
      <br />
      <form class="text-center" action="" method="post">
        <input
          type="email"
          placeholder="email@email.com"
          name="email"
          value="{{ request.form.email }}"
          required
        /><br />
        <input
          type="text"
          placeholder="Username"
          name="username"
          value="{{ request.form.username }}"
        /><br />
        <input
          type="password"
          placeholder="Password"
          name="password"
          value="{{ request.form.password }}"
        /><br />
        <input class="btn btn-primary" type="submit" value="Register" />
      </form>

      {% if error %}
      <p class="error">
        <strong>Error:</strong> {{ error }}
        {% endif %}
      </p>
    </div>
  </body>
</html>
